<%- include('./includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <p>Hello <%= name %></p>

  <p>There was a request to change your password!</p>

  <p>If you did not make this request then please ignore this email.</p>

  <p>
    Otherwise, please click button bellow to change your password within the
    next 10 minutes:
  </p>
  <br />

  <p>
    <a
      href="<%= message %>"
      style="
        background-color: #199319;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
      "
      role="button"
      >Reset Password
    </a>
  </p>
  <br />

  <p>
    If the link in button not working, You can copy and paste the link below on
    browser:
  </p>

  <p><%= message %></p>
</div>

<%- include('./includes/footer.ejs') %>
